<p id="notice"><%= notice %></p>

<h1>Gallaries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Detail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gallaries.each do |gallary| %>
      <tr>
        <td><%= gallary.name %></td>
        <td><%= gallary.detail %></td>
        <td><%= link_to 'Show', gallary %></td>
        <td><%= link_to 'Edit', edit_gallary_path(gallary) %></td>
        <td><%= link_to 'Destroy', gallary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gallary', new_gallary_path %>|
<%= link_to "Home", root_path %>

<hr>
<div style="font-weight:bolder;">
  <%= will_paginate(@gallaries) %>
</div>
